*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    
    li {
    list-style: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    }
    
    a {
    color: inherit;
    text-decoration: none;
    display: block;
    }
    
    p a {
    display: inline;
    }
    
    img, picture, video, iframe {
    display: block;
    width: 100%;
    height: initial;
    }
    
    form, input, label, select, option, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
    }
    
    :root {
    font-size: 100%;
    --color-principal-azul: #5eb4b4;
    --font-titulos: "Ms Madi", cursive;
    --font-subtitulos: "Bebas Neue", sans-serif;
    --font-textos: "Montserrat", sans-serif;
    --color-gris: #9d9d9d;
    --sombra-textos: 1px 1px 4px #a4a4a4;
    }
    
    html {
    scroll-behavior: smooth;
    }

    body {
    background: linear-gradient(to bottom, white, var(--color-principal-azul));
    }
    /* Fin reset */

    /* ++++++++++++++++ PÁGINA DE INICIO ++++++++++++++++ */
    
    .Header-wrapper{
    background-color: white;
    }

    .Header-img{
        width: 50%;
        margin: 2rem auto;
    }

    /* MENÚ INICIO */

    .Header-nav{
    }
    .Header-ul{
        width: 60%;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-li{
        font-family: var(--font-subtitulos);
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: .0625rem;
        cursor: pointer;
    }
    .Header-li:hover{
        color: var(--color-principal-azul) ;
        transform: scale(1.1);
    }

    /* FOOTER COMÚN PARA TODAS LAS SECCIONES */

    .Footer{
        width: 100%;
        background-color: var(--color-gris);
        margin: 3rem auto 0;
        padding: 2.5rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
    }

    .Footer-nav{
        gap: 3rem;
    }
    .Footer-h3{
        font-family: var(--font-subtitulos);
        font-size: 1.1em;
    }
    .Footer-h3:hover{
        opacity: 50%;
        text-decoration: underline;
    }

    .Footer-ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .Footer-li{
        width: 1.6rem;
        cursor: pointer;
    }
    
    .Footer-li:hover{
        opacity: 50%;
    }
    .Footer-copyright{
        font-family: var(--font-subtitulos);
        text-align: center;
        font-size: 1.2em;
        margin: 2.5rem 0 0 0;
    }

    /* LOGO STICKY */

    .Logo-sticky{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    @keyframes girar {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .Img-sticky{
        width: 5rem;
        animation: girar 5s linear infinite;
    } 

    /* ++++++++++++++++ FORMAS ++++++++++++++++ */

    /* ENCABEZADO FORMAS */

    .Header-wrapper--formas{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-img--formas{
        width: 100%;
    }
    .Header-h1--formas{
        position: absolute;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--color-gris);
        font-size: 11em;
    }
    

    /* MENÚ - FORMAS */

    .Header-ul--formas{
        width: 60%;
        margin: 2rem auto;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-li--formas{
        font-family: var(--font-subtitulos);
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: .0625rem;
        cursor: pointer;
    }
    .Header-li--formas:hover{
        color: var(--color-principal-azul) ;
        transform: scale(1.1);
    }

    /* SECTION - FORMAS */

    .Section-formas{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 2.5rem;
    }
    .Section-h2--formas{
        width: 80%;
        font-size: 3em;
        font-family: var(--font-textos);
        color: var(--color-gris);
        text-align: center;
    }
    .Section-p--formas{
        width: 80%;
        background-color: var(--color-principal-azul);
        font-family: var(--font-textos);
        padding: 2rem 3rem;
        line-height: 1.875rem;
        text-align: justify;
    }

    /* CONTENIDO - FORMAS */

    .Article-formas{
        width: 90%;
        margin: 0 auto;
    }
    
    .Article-wrapper--formas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 0 4rem 0;
    }
    .Article-h3--formas{
        text-align: center;
        font-size: 5em;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--sombra-textos);
    }
    .Article-img--formas{
        width: 6.25rem;

    }
    .Article-p--formas{
        width: 90vh;
        font-family: var(--font-textos);
        text-align: justify;
        line-height: 1.5625rem;
    }

    /* ++++++++++++++++ TÉCNICAS ++++++++++++++++ */

    /* ENCABEZADO - TÉCNICAS */

    .Header-wrapper--tecnicas{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-img--tecnicas{
        width: 100%;
    }
    .Header-h1--tecnicas{
        position: absolute;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--color-gris);
        font-size: 11em;
    }

    /* MENÚ TECNICAS */

    .Header-ul--tecnicas{
        width: 60%;
        margin: 2rem auto;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-li--tecnicas{
        font-family: var(--font-subtitulos);
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: .0625rem;
        cursor: pointer;
    }
    .Header-li--tecnicas:hover{
        color: var(--color-principal-azul) ;
        transform: scale(1.1);
    }

    /* ENCABEZADO TÉCNICAS */

    .Section-tecnicas{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 2.5rem;
    }
    .Section-h2--tecnicas{
        width: 90%;
        font-size: 2em;
        font-family: var(--font-textos);
        color: var(--color-gris);
        text-align: center;
    }
    .Section-p--tecnicas{
        width: 90%;
        background-color: var(--color-principal-azul);
        font-family: var(--font-textos);
        padding: 2rem 3rem;
        line-height: 1.875rem;
        text-align: justify;
    }

    /* GRID IMAGENES - TECNICAS */

    .Imgs-wrapper{
        width: 85%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 3rem auto;
        gap: 1rem;
        padding: 1rem;

    }
    .Imgs-grid{
        justify-content: center;
        align-items: center;
    }

    /* CONTENIDO - TECNICAS */

    .Article-tecnicas{
        width: 120vh;
        margin: 3rem auto;

    }
    .Article-wrapper--tecnicas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: justify;
        
    }
    .Article-h3--tecnicas{
        font-size: 5rem;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--sombra-textos);
    }
    .Article-p--tecnicas{
        font-family: var(--font-textos);
        line-height: 1.5625rem;
        margin: 0 0 4rem 0;
    }

    /* ++++++++++++++++ GALERÍA ++++++++++++++++ */

    /* ENCABEZADO GALERÍA */

    .Header-wrapper--galeria{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-img--galeria{
        width: 100%;
    }
    .Header-h1--galeria{
        position: absolute;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--color-gris);
        font-size: 11em;
    }

        /* MENÚ GALERÍA */

        .Header-ul--galeria{
            width: 60%;
            margin: 2rem auto;
    
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
        .Header-li--galeria{
            font-family: var(--font-subtitulos);
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: .0625rem;
            cursor: pointer;
        }
        .Header-li--galeria:hover{
            color: var(--color-principal-azul) ;
            transform: scale(1.1);
        }

        /* GRID - GALEREÍA */

        .Section-galeria{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            overflow: hidden;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem;
            margin: 1rem auto;
        }

        .Section-imgs{
            width: 270px;
            height: 270px;
            background-color: black ;
            object-fit: cover;
            display: block;
            justify-content: center;
            align-content: center;
            border-radius: 20%;
            cursor: pointer;
        }
        .Section-imgs:hover{
            transform:scale(1.03);
            transition: 0.5s ease-in ;
        }
        .Section-h2--galeria{
            text-align: center;
            font-family: var(--font-subtitulos);
        }

        /* ++++++++++++++++ CONTACTO ++++++++++++++++ */


        .Header-wrapper--contacto{
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }

        .Header-img--contacto{
            width: 100%;
        }
        .Header-h1--contacto{
            position: absolute;
            font-family: var(--font-titulos);
            text-transform: capitalize;
            text-shadow: var(--color-gris);
            font-size: 11em;
        }

        /* MENÚ - CONTACTO */

        .Header-ul--contacto{
            width: 60%;
            margin: 2rem auto;
    
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
        .Header-li--contacto{
            font-family: var(--font-subtitulos);
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: .0625rem;
            cursor: pointer;
        }
        .Header-li--contacto:hover{
            color: var(--color-principal-azul) ;
            transform: scale(1)
        }

        /* FORMULARIO - CONTACTO */



