*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    
    li {
    list-style: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    }
    
    a {
    color: inherit;
    text-decoration: none;
    display: block;
    }
    
    p a {
    display: inline;
    }
    
    img, picture, video, iframe {
    display: block;
    width: 100%;
    height: initial;
    }
    
    form, input, label, select, option, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
    }
    
    :root {
    font-size: 100%;
    --color-principal-azul: #5eb4b4;
    --font-titulos: "Ms Madi", cursive;
    --font-subtitulos: "Bebas Neue", sans-serif;
    --font-textos: "Montserrat", sans-serif;
    --color-gris: #9d9d9d;
    }
    
    html {
    scroll-behavior: smooth;
    }
    
    body {
    background: linear-gradient(to bottom, white, var(--color-principal-azul));
    }
    /* Fin reset */

    /* ++++++++++++++++ PÁGINA DE INICIO ++++++++++++++++ */
    
    .Header-wrapper{
    background-color: white;
    }

    .Header-img{
        width: 60%;
        margin: 32px auto;
    }

    /* MENÚ INICIO */

    .Header-nav{
    }
    .Header-ul{
        width: 60%;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-li{
        font-family: var(--font-subtitulos);
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: .0625rem;
        cursor: pointer;
    }
    .Header-li:hover{
        color: var(--color-principal-azul) ;
        transform: scale(1.1);
    }

    /* FOOTER COMÚN PARA TODAS LAS SECCIONES */

    .Footer{
        width: 100%;
        background-color: var(--color-gris);
        margin: 3rem auto 0;
        padding: 2.5rem;
    }

    .Footer-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .Footer-li{
        width: 1.6rem;
        cursor: pointer;
    }
    
    .Footer-li:hover{
        opacity: 50%;
    }
    .Footer-copyright{
        font-family: var(--font-subtitulos);
        text-align: center;
        font-size: 1.2em;
        margin: 2rem 0 0 0;
    }

    /* ++++++++++++++++ FORMAS ++++++++++++++++ */

    /* ENCABEZADO FORMAS */

    .Header-wrapper--formas{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-img--formas{
        width: 100%;
    }
    .Header-h1--formas{
        position: absolute;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--color-gris);
        font-size: 11em;
    }
    

    /* MENÚ - FORMAS */

    .Header-ul--formas{
        width: 60%;
        margin: 2rem auto;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-li--formas{
        font-family: var(--font-subtitulos);
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: .0625rem;
        cursor: pointer;
    }
    .Header-li--formas:hover{
        color: var(--color-principal-azul) ;
        transform: scale(1.1);
    }

    .Logo-sticky{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .Img-sticky{
        width: 4.5rem;
        position: fixed;
        margin: 1rem 0 0 0.5rem;
    }   

    /* SECTION - FORMAS */

    .Section-formas{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 2.5rem;
    }
    .Section-h2--formas{
        font-size: 3em;
        font-family: var(--font-textos);
        color: var(--color-gris);
        text-align: center;
    }
    .Section-p--formas{
        width: 70%;
        background-color: var(--color-principal-azul);
        font-family: var(--font-textos);
        padding: 2rem 3rem;
        line-height: 1.875rem;
        text-align: justify;
    }

    /* CONTENIDO - FORMAS */

    .Article-formas{
        width: 90%;
        margin: 0 auto;
    }
    
    .Article-wrapper--formas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 0 4rem 0;
    }
    .Article-h3--formas{
        text-align: center;
        font-size: 5em;
        font-family: var(--font-titulos);
        text-transform: capitalize;
    }
    .Article-img--formas{
        width: 6.25rem;

    }
    .Article-p--formas{
        width: 90vh;
        font-family: var(--font-textos);
        text-align: justify;
        line-height: 1.5625rem;
    }

    /* ++++++++++++++++ TÉCNICAS ++++++++++++++++ */

    /* ENCABEZADO - TÉCNICAS */

    .Header-wrapper--tecnicas{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-img--tecnicas{
        width: 100%;
    }
    .Header-h1--tecnicas{
        position: absolute;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--color-gris);
        font-size: 11em;
    }

    /* MENÚ TECNICAS */

    .Header-ul--tecnicas{
        width: 60%;
        margin: 2rem auto;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-li--tecnicas{
        font-family: var(--font-subtitulos);
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: .0625rem;
        cursor: pointer;
    }
    .Header-li--tecnicas:hover{
        color: var(--color-principal-azul) ;
        transform: scale(1.1);
    }

    /* ENCABEZADO TÉCNICAS */

    .Section-tecnicas{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 2.5rem;
    }
    .Section-h2--tecnicas{
        font-size: 2em;
        font-family: var(--font-textos);
        color: var(--color-gris);
        text-align: center;
    }
    .Section-p--tecnicas{
        width: 90%;
        background-color: var(--color-principal-azul);
        font-family: var(--font-textos);
        padding: 2rem 3rem;
        line-height: 1.875rem;
        text-align: justify;
    }

    /* GRID IMAGENES - TECNICAS */

    .Imgs-wrapper{
        width: 85%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem auto;
        gap: 1rem;
        padding: 1rem;

    }
    .Imgs-grid{
        justify-content: center;
        align-items: center;
    }

    /* ++++++++++++++++ EFECTOS ++++++++++++++++ */

    /* Encabezado efectos */

    .Header-wrapper--efectos{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-img--efectos{
        width: 100%;
    }
    .Header-h1--efectos{
        position: absolute;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--color-gris);
        font-size: 11em;
    }

    /* KEY FRAMES */
    



