*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }
    li {
    list-style: none;
    }
    h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    }
    a {
    color: inherit;
    text-decoration: none;
    display: block;
    }
    p a {
    display: inline;
    }
    img, picture, video, iframe {
    display: block;
    width: 100%;
    height: initial;
    }
    form, input, label, select, option, textarea, button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
    }

    /* Fin reset */

    :root {
    font-size: 100%;
    --color-principal-azul: #5eb4b4;
    --font-titulos: "Ms Madi", cursive;
    --font-subtitulos: "Bebas Neue", sans-serif;
    --font-textos: "Montserrat", sans-serif;
    --color-gris: #9d9d9d;
    --sombra-textos: 1px 1px 4px #a4a4a4;
    }
        html {
    scroll-behavior: smooth;
    }
    body {
    background: linear-gradient(to bottom, white, var(--color-principal-azul));
    }

    /* TIPOGRAFÍAS */

    /* montserrat-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* ms-madi-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ms Madi';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ms-madi-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
    

    /* ++++++++++++++++ PÁGINA DE INICIO ++++++++++++++++ */
    
    /* CABECERA - INICIO */

    .Header-home{
    background-color: white;
    }
    .Header-img{
        width: 50%;
        margin: 2rem auto;
    }

    /* MENÚ RESPONSIVE COMÚN PARA TODAS LAS SECCIONES */

    .Header-responsive{
        width: 90%;
        margin: 2rem auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .Header-btn{
        font-size: 3rem;
        display: none;
    }
    .Header-btn:hover{
        color: var(--color-principal-azul);
        transform: scale(1.2);
    }
    .Header-ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .Header-li{
        font-family: var(--font-subtitulos);
        text-transform: uppercase;
        font-size: 1.4em;
        letter-spacing: .0625rem;
        cursor: pointer;
    }
    .Header-li:hover{
        color: var(--color-principal-azul) ;
        transform: scale(1.1);
    }

    /* FOOTER COMÚN PARA TODAS LAS SECCIONES */

    .Footer{
        width: 100%;
        background-color: var(--color-gris);
    }
    .Footer-wrapper{
        width: 100%;
        max-width: 1400px;
        margin: 3rem auto 0;
        padding: 1rem 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
    }
    .Footer-nav{
        gap: 3rem;
    }
    .Footer-h3{
        font-family: var(--font-textos);
        font-size: 0.9em;
        text-transform: capitalize;
        font-weight: 500;
    }
    .Footer-h3:hover{
        opacity: 50%;
        text-decoration: underline;
    }
    .Footer-ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 0 0 2.5rem;
    }
    .Footer-li{
        width: 1.6rem;
        cursor: pointer;
    }
    .Footer-li:hover{
        opacity: 50%;
    }
    .Footer-copyright{
        font-family: var(--font-subtitulos);
        text-align: center;
        font-size: 1.3em;
        margin: 2.5rem 0 0 0;
        letter-spacing: 0.02em;
    }

    /* LOGO STICKY */

    .Logo-sticky{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .Img-sticky{
        width: 5rem;
        animation: girar 5s linear infinite;
        z-index: -1;
    } 

    /* ++++++++++++++++ FORMAS ++++++++++++++++ */

    /* CABECERA COMÚN PARA TODAS LAS SECCIONES CON EFECTO PARALLAX */

    .Header-wrapper{
        width: 100%;
        height: 40vh;
        background-image: url(/Nails-world/imgs/fondo-titulo-azul.jpg);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    .Header-h1{
        color: white;
        position: fixed;
        top: 5%;
        left: 47%;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: 2px 2px 6px rgb(146, 146, 146);
        font-size: 9em;
        margin-left: -1.2em;
    }
    .Header-h1.Right{
        left: 48%;
    }

    /* ENCABEZADO - FORMAS */

    .Section-formas{
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 2.5rem;
    }
    .Section-h2--formas{
        width: 80%;
        font-size: 2em;
        font-family: var(--font-textos);
        color: var(--color-gris);
        text-align: center;
    }
    .Section-p--formas{
        width: 80%;
        background-color: var(--color-principal-azul);
        font-family: var(--font-textos);
        padding: 2rem 3rem;
        line-height: 1.875rem;
        text-align: justify;
    }

    /* CONTENIDO - FORMAS */

    .Article-formas{
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
    }
    .Article-wrapper--formas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 0 4rem 0;
    }
    .Article-h3--formas{
        text-align: center;
        font-size: 5em;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--sombra-textos);
    }
    .Article-img--formas{
        width: 6.25rem;

    }
    .Article-p--formas{
        width: 72%;
        font-family: var(--font-textos);
        text-align: justify;
        line-height: 1.5625rem;
    }

    /* ++++++++++++++++ TÉCNICAS ++++++++++++++++ */

    /* ENCABEZADO TÉCNICAS */

    .Section-tecnicas{
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 2.5rem;
    }
    .Section-h2--tecnicas{
        width: 90%;
        font-size: 2em;
        font-family: var(--font-textos);
        color: var(--color-gris);
        text-align: center;
    }
    .Section-p--tecnicas{
        width: 90%;
        background-color: var(--color-principal-azul);
        font-family: var(--font-textos);
        padding: 2rem 3rem;
        line-height: 1.875rem;
        text-align: justify;
    }

    /* GRID IMAGENES - TECNICAS */

    .Imgs-wrapper{
        width: 85%;
        max-width: 1400px;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 3rem auto;
        gap: 1rem;
        padding: 1rem;
    }
    .Imgs-grid{
        justify-content: center;
        align-items: center;
    }

    /* CONTENIDO - TECNICAS */

    .Article-tecnicas{
        width: 80%;
        max-width: 1400px;
        margin: 3rem auto;
    }
    .Article-wrapper--tecnicas{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: justify;
        
    }
    .Article-h3--tecnicas{
        font-size: 5rem;
        font-family: var(--font-titulos);
        text-transform: capitalize;
        text-shadow: var(--sombra-textos);
    }
    .Article-p--tecnicas{
        font-family: var(--font-textos);
        line-height: 1.5625rem;
        margin: 0 0 4rem 0;
    }

    /* ++++++++++++++++ GALERÍA ++++++++++++++++ */

        /* GRID - GALERÍA */

        .Section-galeria{
            width: 90%;
            max-width: 1400px;
            margin: 5rem auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 1fr);
            overflow: hidden;
            justify-content: center;
            gap: 5rem;
        }
        .Galeria-img{
            width: 100%;
            height: 100%;
            background-color: black ;
            object-fit: cover;
            justify-content: center;
            border-radius: 20%;
            cursor: pointer;
        }
        .Galeria-img:hover{
            transform:scale(1.02);
            transition: 0.5s ease-in ;
        }
        /* .Section-h2--galeria{
            text-align: center;
            font-family: var(--font-subtitulos);
        }  */

        .Lightbox{
            width: 100%;
            min-height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            }
            .Lightbox-btn{
                cursor: pointer;
                background-color: white;
                width: 20px;
                border-radius: 20%;
            }
            .Imagen-grande{
                width: 40%;
                border-radius: 20%;
            }


        /* ++++++++++++++++ CONTACTO ++++++++++++++++ */

        /* MARQUESINA - CONTACTO */

        .Marquesina{
            width: 100%;
            overflow: hidden;
            margin: 5rem auto;
        }
        .Marquesina-caja{
            width: 200%;
            background-color: black;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            align-content: center;
            animation: slide 15s linear infinite;
        }
        .Marquesina-texto{
            font-family: var(--font-subtitulos);
            color: white;
            text-align: center;
            font-size: 1.3em;
            letter-spacing: 0.05em;
            padding: 0.5rem 0;
        }
        
        /* KEY FRAMES */

        /* Key Frame para la marquesina, hace que se desplace el texto */
        @keyframes slide{
            from{
                transform: translateX(0%);
            }
            to{
                transform: translateX(-50%);
            }
        }

        /* Key Frame para la rotación del logo inferior redondo */
        @keyframes girar {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        /* MEDIA QUERY */

        @media (max-width: 800px){
            
            /* Logo sección inicio */
            .Header-img{
                width: 70%;
                margin: 0 auto;
            }
            
            /* Menú responsive */
            .Header-responsive{
                width: 100%;
                max-width: 1400px;
                display: flex;
                justify-content: flex-end;
                padding: 0 1.5rem 0 0;
            }
            .Header-btn{
                display: block;
            }
            .Header-nav{
                width: 100%;
                display: none;
            }
            .Header-nav.isActive{
                width: 100%;
                display: block;
            }
            .Header-ul{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 0.9rem;
            }
            .Header-li{
                font-size: 1.2em;
            }

            /* Encabezado - formas */

            .Section-formas{
                width: 95%;
                margin: 0 auto 1.5rem;
                padding: 1rem;
                gap: 2.5rem;
            }
            .Section-h2--formas{
                width: 86%;
                font-size: 1.7em;
            }
            .Section-p--formas{
                width: 85%;
                font-size: 0.95rem;
            }

            /* Contenido formas */
            
            .Article-h3--formas{
                font-size: 4.2em;
            }
            .Article-p--formas{
                font-size: 0.95em;
            }

            /* Encabezado técnicas */

            .Section-tecnicas{
                width: 95%;
                margin: 0 auto 1.5rem;
                padding: 1rem;
            }
            .Section-h2--tecnicas{
                width: 85%;
                font-size: 1.7em;
                text-align: justify;
            }
            .Section-p--tecnicas{
                width: 85%;
                font-size: 0.95rem;
            }

            /* Contenido técnicas */

            .Article-tecnicas{
                width: 78%;
            }
            .Article-h3--tecnicas{
                font-size: 4.2rem;
                text-align: center;
            }
            .Semi-permanente{
                font-size: 3.8em;
            }
            .Article-p--tecnicas{
                font-size: 0.95em;
            }

            /* Contenido galería */

            .Section-galeria{
                gap: 2.5rem;
            }
            .Imagen-grande{
                width: 60%;
            }

            /* Marquesina Contacto */
            .Marquesina-caja{
                width: 200%;
                background-color: black;
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                align-content: center;
                animation: slide 15s linear infinite;
            }
            .Marquesina-texto{
                font-family: var(--font-subtitulos);
                color: white;
                text-align: center;
                font-size: 0.9em;
                letter-spacing: 0.05em;
                padding: 0.5rem 0;
            }
        }





